<main>
  <div class="pattern-bg">
    <p class="title">IP Address Tracker</p>
    <app-search-bar (search)="getIpOrDomain($event)"></app-search-bar>
  </div>
  <div class="coords-container">
    <ul>
      <li>
        <p class="label">IP Address</p>
        <p *ngIf="!result" class="loading">Loading...</p>
        <p *ngIf="result" class="value">{{ result.ip }}</p>
      </li>
      <li>
        <p class="label">Location</p>
        <p *ngIf="!result" class="loading">Loading...</p>
        <p *ngIf="result" class="value">
          {{ result.location.city }}, {{ result.location.country }}
          {{ result.location.postalCode }}
        </p>
      </li>
      <li>
        <p class="label">Timezone</p>
        <p *ngIf="!result" class="loading">Loading...</p>
        <p *ngIf="result" class="value">UTC {{ result.location.timezone }}</p>
      </li>
      <li>
        <p class="label">Isp</p>
        <p *ngIf="!result" class="loading">Loading...</p>
        <p *ngIf="result" class="value">{{ result.isp }}</p>
      </li>
    </ul>
  </div>
  <div class="map-container">
    <app-map [coords]="location" [zoom]="zoom"></app-map>
  </div>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>
