<main>
  <div class="pattern-bg">
    <p class="title">IP Address Tracker</p>
    <app-search-bar (search)="getIpOrDomain($event)" [iconArrow]="iconArrow"></app-search-bar>
  </div>
  <app-coords-details [result]="result" [error]="error"></app-coords-details>
  <div class="map-container">
    <p *ngIf="!result && !error" class="loading">Loading...</p>
    <p *ngIf="!result && error" class="httpError">{{error}}</p>
    <app-map *ngIf="result && !error" [coords]="location" [zoom]="zoom"></app-map>
  </div>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>
