main {
  max-width: 80rem;
  height: 98vh;
  margin: 0 auto;
  border: 1px darkblue dashed;
  position: relative;
}

.pattern-bg {
  background-image: url("../assets/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 15.5556rem;
  text-align: center;
  padding: 28px 0;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 32.7px;
  font-weight: 400;
}

form {
  margin: 26px auto;
  position: relative;
  display: flex;
  width: 30.8333rem;
  height: 3.2778rem;
}

input[type="text"]{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-indent: 1.3889rem;
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: var(--very-dark-gray);
  font-family: "Rubik", sans-serif;;
}

input::placeholder {
  color: hsla(0, 0%, 59%, 0.8);
  font-size: 1rem;

}

input:focus {
  outline: none;
}

button {
  height: 100%;
  width: 3.2222rem;
  border: none;
  position: absolute;
  right: 0;
  background-color: hsl(0, 0%, 0%);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.coords-container {
  height: 161px;
  width: 77.2%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 199px;
  left: 11.4%;
  border-radius: 15px;
}

.map{
  border: 1px dashed orange;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 20.8333rem;
  }

  .pattern-bg {
    background-image: url("../assets/images/pattern-bg-mobile.png");
    height: 300px;
    padding: 25px 23px;
  }

  .title {
    font-size: 26.6px;
  }

  form {
    width: 100%;
    height: 58px;
    margin: 28px auto;
  }

  input::placeholder{
    font-size: 12px;
  }

  .coords-container {
    top: 9.2222rem;
    width: 87.6%;
    height: 16.3333rem;
    left: 6%;
  }

  .map {
    height: auto;
  }
}
