<main>
  <div class="pattern-bg">
    <p class="title">IP Address Tracker</p>
    <form>
      <input type="text" placeholder="Search for any IP address or domain">
      <button>
        <img src="../assets/images/icon-arrow.svg" alt="icon-arrow">
      </button>
    </form>
  </div>
  <div class="coords-container">

  </div>
  <div class="map">

  </div>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>



<!-- IP Address
Location
Timezone
  UTC ** add offset value dynamically using the API
ISP  -->
